# macOS
.DS_Store
.Spotlight-V100
.Trashes
._*

# Windows
Thumbs.db
ehthumbs.db

# IDEs
.idea/
.vscode/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# Node
node_modules/

# Build outputs
dist/
dist-ssr/
coverage/

# Local development
*.local

# Testing
cypress/videos/
cypress/screenshots/

# Java/Maven
target/
*.class

# H2 database
*.mv.db
*.trace.db
